<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bizarrecoding.example.bakemania">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">


        <meta-data android:name="DATABASE" android:value="bakemania.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.bizarrecoding.example.bakemania"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StepsActivity"
            android:parentActivityName="com.bizarrecoding.example.bakemania.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizarrecoding.example.bakemania.MainActivity" />
        </activity>

        <activity android:name=".StepDetailsActivity"
            android:parentActivityName="com.bizarrecoding.example.bakemania.StepsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bizarrecoding.example.bakemania.StepsActivity" />
        </activity>

        <service android:name=".RemoteListViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".RemoteRecipeViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".BakeListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="INGREDIENT_TAKEN" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bake_list_widget_info" />
        </receiver>
        <receiver android:name=".adapters.RemoteListViewsFactory">
            <intent-filter>
                <action android:name="INGREDIENT_UPDATE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>